.body {
    margin: 0 80px;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    gap: 20px;
    position: relative;
    min-height: 306px;
    background-color: #eff0f2;
    padding: 0 82px 52px 82px;
}

.banner-wrapper {
    /* position: absolute;
    bottom: 133px; */
}

.banner-heading {
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 20px;
}

.banner-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-right: 60px;
}

.banner-button {
    /* position: absolute;
    bottom: 52px; */
    width: 200px;
}

.mid-section-container {
    margin: 80px 0;
    display: flex;
    gap: 20px;
}

.mid-section-card-wrapper {
    width: 50%;
}

.mid-section-information-wrapper {
    width: 50%;
}

.mid-section-information {
    padding: 20px;
}

.mid-section-header {
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
}

.mid-section-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #9a9a9a;
}

.custom-card {
    height: 100%;
}

.second {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
}
