.content-container {
    display: flex;
    margin: 20px 80px;
    flex-direction: column;
    gap: 60px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.content-add1-container {
    display: flex;
    margin: 20px 80px;
    flex-direction: column;
    gap: 60px;
}

.add1-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 25px;
}

/* add 2 */
.add2-container {
    margin: 50px 80px;
}

.add-container {
    display: flex;
    justify-content: space-between;
}

.properties-lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 70px;
}

.properties-item {
    background-color: #eff0f2;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.edit-icon {
    font-size: 25px;
}

.item-name {
    font-size: 16px;
    font-weight: 700;
}

.total-people {
    font-size: 14px;
    font-weight: 500;
    color: #9a9a9a;
}

/* add 3 */

.content3-container {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.counter-container {
    display: flex;
    gap: 85px;
}

.title3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #787885;
}

.location-input__wrapper {
    display: flex;
    flex-direction: column;
    width: 750px;
    gap: 20px;
}

.location-input {
    width: 86%;
    display: flex;
    justify-content: space-between;
}

.amenities-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.text-area {
    width: 100%;
    height: 200px;
    padding: 40px;
    border: 1px solid #333;

}

.save {
    align-self: flex-end;
    margin-top: -20px;
}

.select-type {
    display: flex;
    cursor: pointer;
    background: #c2c6cc;
    min-width: 430px;
    border-radius: 6px;
    overflow: hidden;
    align-items: center;
}

.select_name {
    padding: 20px;
    flex: 1;
    text-align: center;
}

.input {
    width: 80%;
    border: none;
    height: 80px;
    background-color: #eff0f2;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
}

/* add 4 */
.add4-content-container {
    display: flex;
    margin: 20px 80px;
    flex-direction: column;
    gap: 60px;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/* input */
.name {
    text-align: start !important;
    justify-self: flex-start !important;
    align-self: flex-start !important;
    width: 700px;
    height: 46px;
    border: 1px solid #c2c6cc;
    border-radius: 8px;
    margin-top: 5px;
    padding: 15px;
}

.name::parent .input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
