#title {

}

.content-add1-container {
    display: flex;
    margin: 20px 80px;
    flex-direction: column;
    gap: 60px;
}

.add1-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin-bottom: 25px;
}

