.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
}

.error {
    margin-top: 10px;
    margin-left: 90px;
    align-self: flex-start;
    color: red;
}

.label {
    align-self: flex-start;
    margin-left: 90px;
}

.text-area {
    border: solid;
    border-radius: 4px;
    width: 100%;
    height: 200px;
    padding: 40px;
}

