.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    min-width: 100px;
    padding: 9px 16px;
    color: var(--white);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid transparent;
    user-select: none;
}

/* .wrapper:active {
    background-color: var(--black);
    color: var(--white);
} */
/* size */
.small {
    width: 116px;
    height: 38px;
}

.medium {
    padding: 9px 24px;
    width: 172px;
}

.mediumx {
    width: 250px;
    padding: 17px 29px;

}

.large {
    width: 318px;
    padding: 22px 50px;
    margin: 0 30px;
}


/* end size */

/* color */

.black {
    background-color: var(--black);
}

.red {
    background-color: #F12b2c;
}

.yeallow {
    background-color: #FEC400;
}

.green {
    background-color: #22C71F;
    
}

.blue {
    background-color: #2a7cac;
}

.textRed {
    color: #f75656;
}

.textBlack {
    color: var(--black);
}

.textBlue {
    color: #2a7cac;
}

.backGroundWhite {
    background-color: var(--white);
}

.primary {
    background-color: var(--black);
    width: 220px;
    height: 60px;
}

.secondary {
    background-color: var(--secondBlack);
    width: 220px;
    height: 60px;
}

.third {
    background-color: var(--eoe2e6);
    border-radius: 6px;
    color: var(--secondBlack);
    font-weight: bold;
}

.fourth {
    width: 40%;
    padding: 20px 0;
    border-radius: 35px;
    font-size: 15px;
    font-weight: 700;
    color: var(--white);
}

.icon + .title, .title + .icon {
    margin-left: 8px;
    
}

.title {
    text-align: center;

}

.icon {
    font-size: 22px;
    display: flex;
    justify-content: center;
    
}

.rounded {
    border-radius: 30px;
}

.transparent {
    background-color: transparent;
    color: var(--secondBlack);
    font-size: 15px;
    font-weight: 700;

}


.outline {
    border: 1px solid var(--secondBlack);
    border-radius: 6px;
}

.bgGray {
    background-color: #9a9a9a;

}

.orange {
    background-color: #FEC400;
}