.price {
    font-size: 16px;
    font-weight: 500;
    color: #9a9a9a;
}

.side-bar {
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow: 0 0 16px 8px #c2c6cc99;
    border-radius: 16px;
    margin-bottom: 24px;
}

.price-range {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    margin: 30px 30px 0 30px;
}

.price-range::after {
    position: absolute;
    content: '';
    height: 1px;
    width: 225px;
    background-color: #e0e2e6;
    bottom: -28px;
    left: 0;
}

.price-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0 30px;
}

.table {
    width: 45%;
}

.table td {
    border-bottom: none;
    padding: 10px 10px 10px 0;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin: 0 30px 36px 30px;
}

.contact-information {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.contact-name {
    font-size: 14px;
    font-weight: 600;
}


