.radio-formik {
    text-align: center;
    font-size: 18px;
}

.add_type {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color:  #EFF0F2;
    border-radius: 6px;
    width: 280px;
    height: 100px;
}

.input-container {
    position: relative;
    width: 100px;
    height: 100%;
}

.radio {
    width: 100px;
    height: 100%;
    appearance: none;
    background: #6b6c6e;
    aspect-ratio: 1;
}



.customclass {
    position: absolute;
    top: 0;
    left: 0;
    color: #ADE792;
    opacity: 0;
}

.radio:checked ~ .customclass {
    opacity: 1;  
}

.name_type {
    font-size: 18px;
    font-family: 'Montserrat';
    flex: 1;
    margin-left: 28px;
}

