.radio-formik {
    text-align: center;
    font-size: 18px;
}

.add_type {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #eff0f2;
    border-radius: 6px;
    width: 280px;
    height: 85px;
}

.input-container {
    position: relative;
    width: 100px;
    height: 100%;
}

.radio {
    width: 100px;
    height: 100%;
    appearance: none;
    background: #6b6c6e;
    aspect-ratio: 1;
    border-radius: 7px 0px 0px 7px;
}

.customclass {
    position: absolute;
    top: 0;
    left: 0;
    color: #5be31b;
    opacity: 0;
}

.radio:checked ~ .customclass {
    opacity: 1;
    height: 90px;
    width: 100px;
}

.name_type {
    font-size: 18px;
    font-family: 'Montserrat';
    flex: 1;
    margin-left: 28px;
}

.name {
    font-size: 14px;
}
