.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    height: 90vh;
    gap: 20px;
    padding: 10px 30px 30px 30px;
    background-color: #fff;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.close-icon {
    width: 30px;
    height: 30px;
}

.top-wrapper {
    display: flex;
    justify-content: space-between;
}

.img {
    width: 100px;
    height: 120px;
}

.hotel-information__container {
    display: flex;
    gap: 20px;
}

.hotel-name {
    margin-bottom: 10px;
}

.rating-wrapper {
    min-height: 45px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    min-width: 250px;
}

.star-icon {
    width: 31px;
    height: 25px;
}

.button-wrapper {
    display: flex;
    gap: 10px;
    align-self: end;
    margin-top: auto;
}

.on {
    color: #f5de0f;
}

.off {
    color: #ccc;
}

.hidden {
    display: none;
}

.text-area {
    width: 100%;
    height: 100px;
    padding: 12px;
    border: 1px solid #333;
}
